@import '../mixins/_index.scss';

html {
    font-size: 62.5%;
    font-family: 'Open Sans';
    letter-spacing: 0.025em;
    font-weight: 600;
}

body {
    background-color: rgb(236, 234, 234);
}

.page-block {
    margin-bottom: 3.5rem;

    @include center-position;
    @include flex(space-around, none, wrap);

    @include desktop {
        width: 113rem;
    }

    @include tablet {
        width: 75.5rem;
    }

    @include max-mobile {
        width: 44rem;
    }

    @include min-mobile {
        width: 29.5rem;
    }
}