<template>
    <div class="main">
        <Folders @close-textarea="hide"/>
        <Notes
            :note-text="noteText"
            :is-created="isShown"
            @show-textarea="show"
        />
        <NoteTextArea
            :is-shown="isShown"
            :text="noteText"
        />
    </div>
</template>

<script setup lang="ts">
import { onMounted } from 'vue';
import Folders from '../components/Folders.vue'
import Notes from '../components/Notes.vue';
import NoteTextArea from '../components/NoteTextArea.vue'
import usePopup from '../composables/usePopup';
import { useFolderStore } from '../store/use-folder-store';
import { useNoteStore } from '../store/use-note-store';

const { loadFolders } = useFolderStore();
const { loadNotes, noteText } = useNoteStore();
const { isShown, show, hide } = usePopup();

onMounted(async () => {
    await loadFolders();
    await loadNotes();
})
</script>

<style scoped lang="scss">
.main {
    height: 100%;
    display: flex;
}
</style>