<template>
    <button
        class="button"
        @click="emit('click-button')"
    >
        <i
            :class="iconClassName"
        ></i>

        {{ buttonName }}
    </button>
</template>

<script setup lang="ts">
interface Props {
    buttonName: string;
    iconClassName: string;
}

const props = withDefaults(defineProps<Props>(), {
    buttonName: '',
    iconClassName: '',
})

const emit = defineEmits<{
    (event: 'click-button'): void;
}>();
</script>