<template>
    <div class="counter">
      {{ counter }}
    </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import NoteModel from '../models/notes/note-model';
import { useNoteStore } from '../store/use-note-store';

interface Props {
  id: number
}

const { notes } = useNoteStore();

const props = defineProps<Props>();

const counter = computed(() => NoteModel.getNotesCount([...notes.value], props.id));
</script>

<style scoped lang="scss">
@import '../css/index';

.counter {
    border-radius: 50%;

    text-align: center;
    color: $black;

    background-color: $light-blue;

    @include desktop {
        min-width: 3rem;
        max-height: 3rem;
        margin-right: 2rem;

        font-size: 1.6rem;
    }

    @include mobile-tablet {
        min-width: 2rem;
        max-height: 2rem;
        margin-right: 0.5rem;

        font-size: 1.4rem;
    }
}
</style>