<template>
  <div class="dropdown">
    <Button
        :icon-class-name="buttonClassName"
        class="dropdown__button"
    />

    <div class="dropdown__content">
      <a
          v-for="({value, text}, index) in data"
          :name="value"
          :key="`${index}`"
          @click="emit('select', value)"
          class="dropdown__link"
          href="#"
      >
        {{ text }}
      </a>
    </div>
  </div>
</template>

<script setup lang="ts">
import Button from './Button.vue';
import { SelectorValue } from '../abstracts/common';

interface Props {
  buttonName: string
  buttonClassName: string
  data: SelectorValue
}

const props = withDefaults(defineProps<Props>(), {
  buttonName: '',
  buttonClassName: '',
})

const emit = defineEmits<{
  (event: 'select', type: string): void;
}>();
</script>

<style scoped lang="scss">
@import '../css/index';

.dropdown {
    &:hover &__content {
        display: block;
    }

    &__content {
        position: absolute;

        display: none;

        z-index: 1;
        background-color: $white;

        @include desktop {
            min-width: 12rem;
            font-size: 1.6rem;
        }

        @include mobile-tablet {
            min-width: 8rem;
            font-size: 1.4rem;
        }
    }

    &__button {
        border-radius: 50%;

        background-color: $light-blue;

        cursor: pointer;

        @include desktop {
            width: 2.5rem;
            height: 2.5rem;
            margin-left: 5rem;
        }

        @include mobile-tablet {
            width: 2rem;
            height: 2rem;
            margin-left: 3rem;
        }
    }

    &__link {
        display: block;
        padding: 1.2rem 1.6rem;

        text-decoration: none;
        color: $black;
    }

    &_used-option {
        background-color: $light-orange;
    }

    &__content &__link:hover {
        background-color: $light-orange;
    }
}
</style>