<template>
    <div class="folders-menu">
        <Button
            class="folders-menu__button"
            :icon-class-name="'fa fa-plus'"
            buttonName="New Folder"
            @click-button="emit('create-folder')"
        />
    </div>
</template>

<script setup lang="ts">
import Button from './Button.vue';

const emit = defineEmits<{
  (event: 'create-folder'): void
}>();
</script>

<style scoped lang="scss">
@import '../css/index';

.folders-menu {
    position: fixed;
    bottom: 0;

    text-align: center;
    color: $white;
    background-color: $dark-blue;

    @include desktop {
        font-size: 2rem;
    }

    @include mobile-tablet {
        font-size: 1.4rem;
    }

    &__button {
        @include desktop {
            width: 20rem;
            height: 7rem;
        }

        @include mobile-tablet {
            width: 13rem;
            height: 5rem;
        }
    }
}
</style>