<template>
    <div class="folders-header">
        {{ title }}
    </div>
</template>

<script setup lang="ts">
const title = 'Folders List';
</script>

<style scoped lang="scss">
@import '../css/index';

.folders-header {
    display: flex;
    justify-content: space-around;

    text-align: center;
    color: white;

    background-color: $dark-blue;

    @include desktop {
        padding: 1.5rem;
        font-size: 2rem;
    }

    @include mobile-tablet {
        padding: 1rem;
        font-size: 1.5rem;
    }
}
</style>