<template>
  <div
      class="folder"
      tabindex="0"
      @click="setActiveFolder(folder.id)"
  >
    <Counter
        class="folder__counter"
        :id="folder.id"
    />
    <p
        class="folder__name"
        v-show="!isShown"
    >
      {{ folder.name }}
    </p>

    <input
        class="folder__input"
        maxlength="25"
        v-model="folder.name"
        v-show="isShown"
        @keypress.enter="updateFolderName"
    />

    <Dropdown
        class="folder__dropdown"
        :button-class-name="'fa fa-ellipsis-h'"
        :data="folderMenuSelectors"
        @select="handleSelect"
    />
  </div>
</template>

<script setup lang="ts">
import Counter from './Counter.vue';
import Dropdown from './Dropdown.vue';
import { SelectorType } from '../abstracts/common'
import { Folder as IFolder } from '../abstracts/folder'
import { folderMenuSelectors } from '../models/folders/folder-menu-data';
import { useFolderStore } from '../store/use-folder-store';
import usePopup from '../composables/usePopup'

interface Props {
  folder: IFolder
}

const { setActiveFolderId, deleteFolder, updateFolder } = useFolderStore();

const { show, hide, isShown } = usePopup();

const props = defineProps<Props>();

const emit = defineEmits<{
  (event: 'close-textarea'): void
}>();
const setActiveFolder = (id: number) => {
  setActiveFolderId(id);
  emit('close-textarea');
}

const handleSelect = (value: string) => {
  if (value === SelectorType.update) {
    show();
  }

  if (value === SelectorType.delete) {
    deleteFolder(props.folder.id);
  }
}

const updateFolderName = () => {
  updateFolder({
    id: props.folder.id,
    name: props.folder.name
  })

  hide();
}
</script>

<style scoped lang="scss">
@import '../css/index';

.folder {
    display: flex;
    border: 0.1rem solid $light-blue;

    background-color: $white;

    &:focus-within {
        background-color: $light-orange;
    }

    &:hover &__dropdown{
        display: block;
    }

    @include desktop {
        padding: 2rem;
    }

    @include mobile-tablet {
        padding: 1rem;
    }

    &__dropdown {
        display: none;
    }

    &__input {
        width: 100%;
        border: none;
        background: $white;

        @include desktop {
            font-size: 1.8rem;
        }

        @include mobile-tablet {
            font-size: 1.4rem;
        }
    }

    &__name {
        @include desktop {
            margin-left: 2rem;
            font-size: 1.8rem;
        }

        @include mobile-tablet {
            margin-left: 0.5rem;
            font-size: 1.4rem;
        }
    }
}
</style>