<template>
  <div class="folders">
    <FoldersHeader />

    <FolderList
        :is-created="isShown"
        @close-textarea="emit('close-textarea')"
    />

    <FoldersMenu @create-folder="show"/>
  </div>
</template>

<script setup lang="ts">
import FoldersHeader from './FoldersHeader.vue';
import FoldersMenu from './FoldersMenu.vue';
import FolderList from './FolderList.vue';
import usePopup from '../composables/usePopup';

const { isShown, show } = usePopup();
const emit = defineEmits<{
  (event: 'close-textarea'): void
}>();
</script>

<style scoped lang="scss">
@import '../css/index';

.folders {
    max-width: 50rem;
    width: 100%;
    height: 100%;

    background-color: $gray;
    border-right: 0.2rem solid $light-blue;
}
</style>