<template>
  <div class="folder-list">
    <form
        v-show="isShown"
        class="folder-list__form"
        @keypress.enter="createFolder"
    >
      <Counter
          class="folder-list__counter"
          :counter="0"
      />
      <Input
          className="folder-list__input"
          placeholder="folder name"
          maxlength="25"
          v-model="folderName"
      />
    </form>

    <Folder
        v-for="(folder, index) in folders"
        :folder="folder"
        :key="`${index}`"
        @close-textarea="emit('close-textarea')"
    />
  </div>
</template>

<script setup lang="ts">
import { ref, onMounted } from 'vue';
import Folder from './Folder.vue';
import Input from './Input.vue';
import Counter from './Counter.vue';
import { useFolderStore } from '../store/use-folder-store';
interface Props {
  isCreated: boolean;
}

const props = defineProps<Props>();

const { addFolder, folders } = useFolderStore();

const folderName = '';
let isShown = false;

onMounted(() => {
  isShown = props.isCreated;
})

const emit = defineEmits<{
  (event: 'close-textarea'): void;
}>();

const createFolder = () => {
  addFolder({
    id: 0,
    name: folderName,
  })
  isShown = !isShown
}
</script>

<style scoped lang="scss">
@import '../css/index';

.folder-list {
    &__form {
        display: flex;
        border: 0.1rem solid $light-blue;

        background-color: $white;

        @include desktop {
            padding: 2rem;
        }

        @include mobile-tablet {
            padding: 1rem;
            font-size: 1.4rem;
        }
    }
}
</style>