<template>
    <div class="date">
        {{ formattedDate }}
    </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import Date from '../models/date';

interface Props {
    date: string;
}

const props = withDefaults(defineProps<Props>(), {
    date: '',
})

const formattedDate = computed(() => {
  if (!props.date) {
      return Date.getDate();
  }

  return props.date
})
</script>

<style scoped lang="scss">
@import '../css/index';

.date {
    margin-top: 0.6rem;
}
</style>
