<template>
    <div class="custom-input">
        <input
            class="custom-input__item"
            :placeholder="placeholder"
            :type="type"
            :value="value"
            :disabled="disabled"
            :maxlength="maxlength"
            v-model="model"
            autofocus
        />
    </div>
</template>

<script setup lang="ts">
import {
    computed,
    onMounted,
    ref
} from 'vue';

interface Props {
    value: string;
    disabled: boolean;
    className: string;
    type: string;
    placeholder: string;
    maxlength: string;
}

const props = withDefaults(defineProps<Props>(), {
    value: ''
})

let localValue = '';

onMounted(() => {
    localValue = props.value
})

const emit = defineEmits<{
    (event: 'input', value: string): void
}>();

const model= computed({
    get: () => localValue,
    set: (value: string) => {
        localValue = value
        emit('input', localValue);
    }
})
</script>

<style scoped lang="scss">
@import '../css/index';

.custom-input {
    &__item{
        width: 100%;
        border: none;

        color: $black;
        background: $white;

        @include desktop {
            font-size: 1.8rem;
        }

        @include mobile-tablet {
            font-size: 1.4rem;
        }
    }
}
</style>