<template>
    <div
        class="note"
        tabindex="0"
        @click="handleClick(note)"
    >
        <p class="note__title">
          {{ shortNoteText }}
        </p>

        <FormattedDate :date="note.date" />
    </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { useNoteStore } from '../store/use-note-store';
import FormattedDate from './FormattedDate.vue';
import NoteModel from '../models/notes/note-model'
import { Note } from '../abstracts/note';

interface Props {
    note: Note;
    updatedNoteText: string;
}

const props = withDefaults(defineProps<Props>(), {
    updatedNoteText: ''
})

const { setNoteText, setActiveNoteId, activeNoteId } = useNoteStore();

const emit = defineEmits<{
    (event: 'show-textarea'): void,
    (event: 'close-note-form'): void,
}>();

const isActive = computed(() => props.note.id === +activeNoteId);

const shortNoteText = computed(() => {
    const noteText = isActive
        ? props.note.text
        : props.updatedNoteText;

    return  NoteModel.shortenNote(noteText);
})

const handleClick = (note: Note) => {
    setNoteText(note.text)
    setActiveNoteId(note.id);
    emit('show-textarea');
    emit('close-note-form');
}
</script>

<style scoped lang="scss">
@import '../css/index';

.note {
    background-color: $white;
    border: 0.1rem solid $light-blue;

    &:focus {
        background-color: $light-orange;
    }

    @include desktop {
        padding: 1rem 2rem;
    }

    @include mobile-tablet {
        padding: 0.5rem 1rem;
    }

    &__title {
        @include desktop {
            font-size: 1.8rem;
        }

        @include mobile-tablet {
            font-size: 1.4rem;
        }
    }
}
</style>