<template>
    <div class="notes">
        <NotesHeader
            @show-textarea="showTextarea"
        />
        <NotesList
            :isShown="isShown"
            :updated-note-text="noteText"
            @show-textarea="showTextarea"
            @close-note-form="hide"
        />
    </div>
</template>

<script setup lang="ts">
import NotesHeader from './NotesHeader.vue';
import NotesList from './NotesList.vue';
import usePopup from '../composables/usePopup';

interface Props {
    isCreated: boolean;
    noteText: string;
}

const { isShown, show, hide } = usePopup();

const props = withDefaults(defineProps<Props>(), {
    isCreated: false,
    noteText: ''
})

const emit = defineEmits<{
    (event: 'show-textarea'): void
}>();

const showTextarea = () => {
    show();
    emit('show-textarea')
}
</script>

<style scoped lang="scss">
@import '../css/index';

.notes {
    max-width: 50rem;
    width: 100%;
    height: 100%;
    border-right: 0.2rem solid $light-blue;

    background-color: $gray;
}
</style>