<template>
    <div class="folders-header">
        <Button
            :icon-class-name="'fa fa-trash'"
            @click-button="deleteNote(activeNoteId)"
        />

        <div class="folders-header__title">
          Notes List
        </div>

        <Button
            :icon-class-name="'fa fa-pencil-square-o'"
            @click-button="createNote"
        />
    </div>
</template>

<script setup lang="ts">
import Button from './Button.vue';
import { useNoteStore } from '../store/use-note-store';

const { setActiveNoteId, deleteNote, activeNoteId } = useNoteStore();

const emit = defineEmits<{
    (event: 'show-textarea'): void
}>();

const createNote = () => {
    emit('show-textarea');
    setActiveNoteId(null);
}
</script>

<style scoped lang="scss">
@import '../css/index';

.folders-header {
    display: flex;
    justify-content: space-around;

    text-align: center;
    color: white;

    background-color: $dark-blue;

    @include desktop {
        padding: 1.5rem;
        font-size: 2rem;
    }

    @include mobile-tablet {
        padding: 1rem;
        font-size: 1.5rem;
    }
}
</style>