<template>
    <div class="note-textarea">
        <div class="note-textarea__title">
          Note
        </div>

        <textarea
            v-show="isShown"
            v-model="textareaValue"
            @keyup.enter.exact="handlePressEnter"
            class="note-textarea__item"
        ></textarea>
    </div>
</template>

<script setup lang="ts">
import { computed, toRaw } from 'vue';
import Date from '../models/date';
import { useNoteStore } from '../store/use-note-store';
import { useFolderStore } from '../store/use-folder-store';

const noteStore = useNoteStore();
const { activeFolderId } = useFolderStore();

let localValue = '';

interface Props {
    isShown: boolean;
    text: string;
}

const props = withDefaults(defineProps<Props>(), {
    text: '',
    isShown: false
})

const handlePressEnter = () => {
    const note = {
        text: props.text,
        date: Date.getDate(),
        folderId: activeFolderId.value
    }

    if (!noteStore.activeNoteId.value) {
        noteStore.addNote({
            id: 0,
            ...note
        })

      return;
    }

    noteStore.updateNote({
        id: noteStore.activeNoteId.value,
        ...note
    })
}

const textareaValue = computed({
    get: () => props.text,
    set: (value: string) => {
        localValue = value;
        noteStore.setNoteText(localValue)
    }
})
</script>

<style scoped lang="scss">
@import '../css/index';

.note-textarea {
    width: 100%;

    &__item {
        width: 100%;
        height: 95%;

        background-color: $white;

        @include desktop {
            font-size: 1.8rem;
        }

        @include mobile-tablet {
            font-size: 1.4rem;
        }
    }

    &__title {
        text-align: center;
        color: $white;
        background-color: $dark-blue;

        @include desktop {
            padding: 1.5rem;
            font-size: 2rem;
        }

        @include mobile-tablet {
            padding: 1rem;
            font-size: 1.5rem;
        }
    }
}
</style>