<template>
    <div>
        <form class="note-form" v-show="isShown">
            <p class="note-form__input" >
                {{ note }}
            </p>
            <FormattedDate />
        </form>

        <Note
            v-for="(note, index) in activeFolderNotes"
            :note="note"
            :key="`${index}`"
            @show-textarea="emit('show-textarea')"
            @close-note-form="emit('close-note-form');"
            :updated-note-text="updatedNoteText"
        />
    </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import Note from './Note.vue';
import FormattedDate from './FormattedDate.vue';
import NoteModel from '../models/notes/note-model';
import { useNoteStore } from '../store/use-note-store';

const { activeFolderNotes } = useNoteStore();

const emit = defineEmits<{
    (event: 'show-textarea'): void,
    (event: 'close-note-form'): void
}>();

interface Props {
    isShown: boolean;
    updatedNoteText: string;
}

let localValue = '';

const props = withDefaults(defineProps<Props>(), {
  updatedNoteText: ''
})

const noteText = computed({
    get: () => props.updatedNoteText,
    set: (value: string) => {
        localValue = value
    }
})

const note = computed(() => {
    if (!props.updatedNoteText) {
        return 'New Note';
    }

    return NoteModel.shortenNote(props.updatedNoteText);
})
</script>

<style scoped lang="scss">
@import '../css/index';

.note-form {
    padding: 1rem 2em;
    border: 0.1rem solid $light-blue;

    background-color: $light-orange;

    &__input {
        width: 100%;
        color: $black;
        background-color: $light-orange;

        @include desktop {
            font-size: 1.8rem;
        }

        @include mobile-tablet {
            font-size: 1.4rem;
        }
    }
}
</style>