@mixin desktop() {
    @media (min-width: 1025px) {
        @content;
    }
}

@mixin mobile() {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin max-mobile() {
    @media (min-width: 450px) and (max-width: 767px) {
        @content;
    }
}

@mixin min-mobile() {
    @media (max-width: 450px) {
        @content;
    }
}

@mixin tablet() {
    @media (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}

@mixin mobile-tablet() {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin tablet-desktop() {
    @media (min-width: 768px) {
        @content;
    }
}